@import './vendor';
.active {
  color: var(--red-color);
}

body {
  @include font(var(--body-font-family), 400);
  color: var(--red-color);
  font-optical-sizing: var(--body-font-optical-sizing);
  font-size: var(--body-font-optical-sizing);
}

a {
  font-weight: 700;
  font-size: 1em;
  color: #000;
  &:hover {
    color: var(--red-color);
  }
  & .active {
    color: var(--red-color);
  }
}
