@import './vendor';
.active {
  color: var(--red-color);
}

body {
  @include font(var(--body-font-family), 400);
  font-optical-sizing: var(--body-font-optical-sizing);
  font-size: var(--body-font-optical-sizing);
}

.mat-icon {
  font-size: 40px;
  width: 40px !important;
  height: 40px !important;
}
